<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}PingPong{% endblock %}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
    {% block scripts %}{% endblock %}
  </head>

  <body>
    <div id="menu">
      <a href="{% url pingpong.views.index %}">Add new entry</a>
      <a href="{% url matches %}">View matches</a>
      <a href="{% url players %}">Add new player</a>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
