{% extends "base.html" %}

{% block title %}
  PingPong - Leaderboard
{% endblock %}

{% block content %}
  <h2>By total wins:</h2>
  <table class="table table-striped">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win Ratio</th>
      <th>Error Rate</th>
      <th>Errors</th>
    </tr>
    {% for leader in leader_board.leaders_by_wins %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ leader.player.name }}</td>
        <td>{{ leader.player_stats.wins }}</td>
        <td>{{ leader.player_stats.losses }}</td>
        <td>{{ leader.player_stats.win_ratio }}</td>
        <td>{{ leader.player_stats.error_rate }}</td>
        <td>{{ leader.player_stats.total_errors }}</td>
      </tr>
    {% endfor %}
  </table>

  <h2>By win ratio:</h2>
  <table class="table table-striped">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Win Ratio</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Error Rate</th>
      <th>Errors</th>
    </tr>
    {% for leader in leader_board.leaders_by_win_ratio %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ leader.player.name }}</td>
        <td>{{ leader.player_stats.win_ratio }}</td>
        <td>{{ leader.player_stats.wins }}</td>
        <td>{{ leader.player_stats.losses }}</td>
        <td>{{ leader.player_stats.error_rate }}</td>
        <td>{{ leader.player_stats.total_errors }}</td>
      </tr>
    {% endfor %}
  </table>

  <h2>By error rate:</h2>
  <table class="table table-striped">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Error Rate</th>
      <th>Errors</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win Ratio</th>
    </tr>
    {% for leader in leader_board.leaders_by_error_rate %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ leader.player.name }}</td>
        <td>{{ leader.player_stats.error_rate }}</td>
        <td>{{ leader.player_stats.total_errors }}</td>
        <td>{{ leader.player_stats.wins }}</td>
        <td>{{ leader.player_stats.losses }}</td>
        <td>{{ leader.player_stats.win_ratio }}</td>
      </tr>
    {% endfor %}
  </table>

  <h2>By errors:</h2>
  <table class="table table-striped">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Errors</th>
      <th>Error Rate</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win Ratio</th>
    </tr>
    {% for leader in leader_board.leaders_by_errors %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ leader.player.name }}</td>
        <td>{{ leader.player_stats.total_errors }}</td>
        <td>{{ leader.player_stats.error_rate }}</td>
        <td>{{ leader.player_stats.wins }}</td>
        <td>{{ leader.player_stats.losses }}</td>
        <td>{{ leader.player_stats.win_ratio }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
