{% extends "base.html" %}

{% block title %}
PingPong - Add New Player
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/players.js"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
      <table id="players" class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Remove</th>
        </tr>
        {% for player in players %}
          <tr>
            <td>{{ player.name }}</td>
            <td><input type="button" class="btn removePlayer" playerId="{{ player.id }}" value="Remove"/></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <form id="newPlayerForm" class="form-inline">
        <label>New player: </label><input type="text" id="newPlayerName"/>
        <input type="submit" class="btn btn-primary" value="Add"/>
      </form>
    </div>
  </div>
{% endblock %}
